#carousel-beats {

	.item {
	width: 100%;
	max-height: 534px;
	border-bottom: 1px solid #ccc;

	img {
	width: 100%;
	}

	}

}


.downtown timer {
	color: #cc0;
}

.nav nav-tabs {
	color: #000;
}

#moscow {
	color: #cc0;
}

